@font-face {
    font-family: 'PressStart';
    src: url('./PressStart2P-Regular.ttf') format('truetype');
}

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PressStart';
}

h1 {
    position: absolute;
    font-size: 3rem;
    text-align: center;
    z-index: 10;
    color: #fff;
    text-transform: uppercase;
}